.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp
*.swo

Thumbs.db
Thumbs.db:encryptable
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

*~
.fuse_hidden*
.directory
.Trash-*

.DS_Store
.AppleDouble
.LSOverride
._*

/cipherusername-gen
*.bin
*.out

*.exe
*.exe~
*.dll
*.so
*.dylib